<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Quantity</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label>{{selectedProduct.description}}</label>
  </div>

  <div class="mb-3">
    <label>Price: {{selectedProduct.price}}</label>
  </div>

  <div class="mb-3">
    <label>Quantity</label>
    <div class="input-group">
      <input class="form-control" placeholder="" type="number" [formControl]="productQuantity">
    </div>
  </div>
</div>
<div class="modal-footer justify-content-between align-items-center">
  <div class="">
    Total Price: {{getTotalPrice()}}
  </div>
  <button type="button" class="btn btn-outline-dark" [disabled]="!productQuantity.valid" (click)="closeModal(productQuantity.value)">Add</button>
</div>